<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/app.css}" rel="stylesheet"/>
    <link th:href="@{/css/sidebar.css}" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
</head>

<body>

<div th:replace="fragments/header::header">header</div>

<div class="main">
    <div th:replace="fragments/sidebar::sidebar">sidebar</div>

    <div class="app-content">
        <div layout:fragment="content">App Content</div>
    </div>
</div>

<div th:replace="fragments/footer::footer">footer</div>

<th:block th:replace="fragments/scripts::scripts"/>

</body>
</html>