<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>누르면 +에서 x로 바뀌는 버튼</title>
    <style>
        body {
            padding-bottom: 3000px;
        }

        #image{
            position: fixed;
            right: 3%;
            bottom: 3%;
            width: 64px;
        }

        .rotate {
            transform: rotate(45deg);
            transition: 400ms all ease-out;
        }

        .normal {
            transform: rotate(0deg);
            transition: 400ms all ease-out;
        }
    </style>
</head>
<body>

<img th:src="@{/assets/plus-circle-fill.svg}" alt="on off button" onclick="Rotate()" class="normal" id="image">

<script>
    function Rotate() {
        let element = document.getElementById('image');

        if (element.className === "normal") {
            element.className = "rotate";
        }
        else if ( element.className === "rotate") {
            element.className = 'normal';
        }
    }
</script>

</body>
</html>