<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <style>
    .item {
      display: none;
    }

    .fruits-img {
      width: 128px;
      height: 128px;
    }
  </style>
  <title>검색 결과 동적 출력</title>
</head>

<body>

<div>
  <div>
    <h1>검색 결과 동적 출력(한영 모두 지원)</h1>
    <input onkeyup="filter()" type="text" id="value" placeholder="검색어를 입력하십시오">
  </div>

  <div class="container">
    <div class="item">
      <img class="fruits-img" th:src="@{/assets/fruits/apple.png}" id="apple" alt="사과"/>
    </div>

    <div class="item">
      <img class="fruits-img" th:src="@{/assets/fruits/bananas.png}" id="bananas" alt="바나나"/>
    </div>

    <div class="item">
      <img class="fruits-img" th:src="@{/assets/fruits/cherries.png}" id="cherries" alt="체리"/>
    </div>

    <div class="item">
      <img class="fruits-img" th:src="@{/assets/fruits/durian.png}" id="durian" alt="두리안"/>
    </div>

    <div class="item">
      <img class="fruits-img" th:src="@{/assets/fruits/grapes.png}" id="grapes" alt="포도"/>
    </div>

    <div class="item">
      <img class="fruits-img" th:src="@{/assets/fruits/kiwi.png}" id="kiwi" alt="키위"/>
    </div>

    <div class="item">
      <img class="fruits-img" th:src="@{/assets/fruits/lemon.png}" id="lemon" alt="레몬"/>
    </div>

    <div class="item">
      <img class="fruits-img" th:src="@{/assets/fruits/passion-fruit.png}" id="passion-fruit" alt="패션후르츠"/>
    </div>

    <div class="item">
      <img class="fruits-img" th:src="@{/assets/fruits/watermelon.png}" id="watermelon" alt="수박"/>
    </div>
  </div>
</div>

<script>
  function filter(){
    let value, name, items, i;

    value = document.getElementById("value").value.toUpperCase();
    items = document.getElementsByClassName("item");

    if(value !== ""){
      for(i=0;i<items.length;i++){
        name = items[i].getElementsByTagName("img");
        if((name[0].id.toUpperCase().indexOf(value) > -1) || (name[0].alt.toUpperCase().indexOf(value) > -1)) {
          items[i].style.display = "flex";
        }else{
          items[i].style.display = "none";
        }
      }
    }else{
      for(i=0;i<items.length;i++){
        items[i].style.display = "none";
      }
    }
  }
</script>

</body>


