.header {
    align-items: center;
}

#hamburger, #side-hamburger, #header-hamburger {
    display: none;
}

#side-hamburger, #header-hamburger {
    position: absolute;
}

#side-hamburger {
    left: 1rem;
}

#header-hamburger {
    right: 1rem;
}

@media (max-width: 680px) {
    #hamburger, #side-hamburger, #header-hamburger {
        display: block;
    }

    #header-menu {
        display: none;
    }
}