<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <style>
    img{
      width: 128px;
      height: 128px;
    }
  </style>
  <title>검색 결과 동적 출력</title>
</head>

<body>
<div>

  <div>
    <h1>검색 결과 동적 출력(한영 모두 지원)</h1>
    <input onkeyup="filter()" type="text" id="value" placeholder="검색어를 입력하십시오">
  </div>

  <div class="container">
    <div class="item">
      <img class="img" src="/static/asset/fruits/apple.png" id="사과" alt="apple"/>
    </div>

    <div class="item">
      <img class="img" src="/static/asset/fruits/bananas.png" id="바나나" alt="bananas"/>
    </div>

    <div class="item">
      <img class="img" src="/static/asset/fruits/cherries.png" id="체리" alt="cherries"/>
    </div>

    <div class="item">
      <img class="img" src="/static/asset/fruits/durian.png" id="두리안" alt="durian"/>
    </div>

    <div class="item">
      <img class="img" src="/static/asset/fruits/grapes.png" id="포도" alt="grapes"/>
    </div>

    <div class="item">
      <img class="img" src="/static/asset/fruits/kiwi.png" id="키위" alt="kiwi"/>
    </div>

    <div class="item">
      <img class="img" src="/static/asset/fruits/lemon.png" id="레몬" alt="lemon"/>
    </div>

    <div class="item">
      <img class="img" src="/static/asset/fruits/passion-fruit.png" id="패션후르츠" alt="passion-fruit"/>
    </div>

    <div class="item">
      <img class="img" src="/static/asset/fruits/watermelon.png" id="수박" alt="watermelon"/>
    </div>
  </div>

</div>

<script type="text/javascript">
  function filter(){
    let value, name, item, i;

    value = document.getElementById("value").value.toUpperCase();
    item = document.getElementsByClassName("item");

    for(i=0;i<item.length;i++){
      name = item[i].getElementsByTagName("img");
      if((name[0].id.toUpperCase().indexOf(value) > -1) || (name[0].alt.toUpperCase().indexOf(value) > -1)) {
        item[i].style.display = "flex";
      }else{
        item[i].style.display = "none";
      }
    }
  }
</script>
</body>


